$primary: rgb(63, 91, 79);
$primaryContrast: white;

$secondary: #48868f;
$flower: #e65256;
$greenBag: #a2a923;

$backgroundColor: #f5f5dc;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $flower;

@import "~bulma/bulma.sass";

html {
  // zorgt voor smooth scroll bij klikken op nav item
  scroll-behavior: smooth;
  word-break: break-word;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: $backgroundColor;
  font-family: "Spectral", serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.site-header {
  background: $primary;
  padding: 1rem;
  color: $primaryContrast;
  text-align: center;
}

.sub-title {
  font-size: 2rem;
}

.navbar > .container {
  justify-content: center;

  .navbar-item {
    text-align: center;
  }
}

.flower-img {
  width: 300px;
  margin: 0 auto;
}

.title {
  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.homepage {
  .programma-blok {
    text-align: center;

    &.box {
      border-radius: 0;
    }

    h2 {
      margin-bottom: 2rem;
    }

    .programma-blok-row {
      margin-bottom: 1rem;
    }

    .programma-blok-key {
      margin-right: 1rem;
      font-weight: bold;
    }

    .programma-extra {
      max-width: 800px;
      margin: 2rem auto 0;
    }
  }

  .meer-info-blok {
    text-align: center;
    .title {
      margin-top: 1.2rem;
    }
  }

  .locatie-blok {
    background-color: $primary;
    color: $primaryContrast;

    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .map {
      height: 50vh;
      width: 100%;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.is-flower {
  background-color: $flower;
  color: white;
}

.is-green-bag {
  background-color: $greenBag;
  color: white;
}

.is-secondary {
  background-color: $secondary;
  color: white;
}

.site-footer {
  text-align: center;

  .footer-image {
    max-width: 1200px;
    margin: 0 auto;

    img {
      margin-bottom: -10px;
    }
  }
}
