@import "~bulma/bulma.sass";

$primaryColor: rgb(63, 91, 79);
$primaryColorContrast: white;

$backgroundColor: #f5f5dc;

body {
  background: $backgroundColor;
  font-family: 'Spectral', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bad Script", cursive;
}

.site-header {
  background: $primaryColor;
  padding: 1rem;
}

.map {
  height: 75vh;
  width: 100%;
  border-top: solid 20px $primaryColor;
  border-bottom: solid 20px $primaryColor;
}

.flower-img {
  width: 300px;
  margin: 0 auto;
}
