@import '~bulma/bulma.sass';

$primaryColor: #237055;
$primaryColorContrast: white;

$backgroundColor: #f5f5dc;

body {
  background: $backgroundColor;
}

.site-header {
  background: $primaryColor;
  padding: 1rem;
}

.map {
  height: 50vh;
  width: 100%;
}